/* CSS styling specific to this sim */

.equation-bar {
  grid-column:    1 / -1;
  width:          100%;
  display:        flex;
  justify-content: center;
  align-items:    center;
  text-align:     center;
  margin:         0;
  padding:        0.25rem 0;
}

.output-container {
  width:          100%;
}

#canvas-container {
  position:       relative;
  width:          100%;
  height:         150px;
  background:     #ffffff;
}

#angle-display {
  grid-column:    1 / -1;
}

#angle-label {
  position:       absolute;
  width:          20px;
  height:         20px;
  background:     #ffffff;
}

#viewer-image {
  position:       absolute;
  bottom:         10px;
  left:           10px;
  width:          auto;
  height:         95px;
}

#object-image {
  position:       absolute;
  width:          auto;
  height:         40px;
}

/* Desktop widths (larger screens) */
.control-row {
  grid-template-columns: 8rem auto;  /* 2 Length columns (number, bar) */
}

/* Handheld widths (smaller screens) */
@media (max-width: 56rem) {
  .control-row {
    grid-template-columns: 8rem auto;  /* 2 Length columns (number, bar) */
  }
}
